*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1{
    background-color: dodgerblue;
    height: 7vh;
}

h3{
    background-color: dodgerblue;
    height: 5vh;
}

.container{
    display: flex;
    flex-wrap: wrap;
}

.boxes{
    height: 88vh;
}

.contact{
    background-color:tomato;
    flex: 1 0 200px;
}

.where{
    background-color: antiquewhite;
    flex: 6 0 200px;
}

.news{
    background-color: yellowgreen;
    flex: 1 0 200px;
}