*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

h1{
    background-color: antiquewhite;
}

nav{
    background-color: greenyellow;
    height: 5vh;
    width: 100vw;
    padding: 1.5rem;
    text-align: center;
    /* position: fixed; */
    z-index: 10;
    position: sticky;
    top: 0px;

    /* top: 0px;
    left: 0px; */
}

a{
    text-decoration: none;
}

main{
    background-color: lightblue;
    border: 1px solid black;
    margin: 2rem;

    height: 200vh;
}

.sub-content{
    background-color: lightgoldenrodyellow;
    margin: 2rem;
    padding: 2rem;
    /* position:relative; */
}

/* img{
    /* position: absolute; */
    /* position:fixed;
    top: 100px;
    left: 100px;
} */